<a href="https://colab.research.google.com/github/vasanthakrishnan2002/Visualization-Concepts/blob/main/Z_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/BP dataset.txt")

In [ ]:
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
df[['bp_before','bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

In [ ]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['bp_before'], x2=None, value=146)
print(float(pvalue))
print(ztest)

9.13718299917119e-24
10.050533040774495

In [ ]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
ztest,pval1=stests.ztest(df['bp_after'],df['bp_after'],value=100)
print(float(pval1))

0.0

In [ ]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted